@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

:root {
    --main-background: #edf0f4;
    --header-bar-color: #fff;
    --min-container-width: 1200px;
    --accent-color-primary: #004c75;
}

body, html {
    margin: 0;
    padding: 0;
    background: var(--main-background);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.main-header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--accent-color-primary);
}

.main-header > .branding {
    width: 100%;
    background: var(--header-bar-color);
    box-shadow: rgba(16, 67, 145, 0.05) 0px 0px 0px 1px, rgba(14, 39, 78, 0.12) 0px 2px 4px, rgba(10, 68, 160, 0.05) 0px 50px 40px;
    display: flex;
    justify-content: center;
}

.main-header > .branding > .main_width {
    flex: 0 1 var(--min-container-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header > .branding > .main_width > #logo {
    display: flex;
}
.main-header > .branding > .main_width > #logo > img {
    width: 190px;
}

.main-header > .breadcrumb a {
    color: #fff;
    text-decoration: none;
}

.main-header > .breadcrumb {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
}

.main-header > .breadcrumb > .main_width {
    width: var(--min-container-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header > .breadcrumb > .main_width > ul {
    display: flex;
    list-style: none;
}

.main-header > .breadcrumb > .main_width > ul > li:not(:last-of-type) {
    margin-right: 0.45em;
}


footer.main-footer {
    box-shadow: rgba(18, 43, 91, 0.08) 0px -10px 20px, rgba(18, 43, 91, .1) 0px -1px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--header-bar-color);
    border-top: 1px solid var(--accent-color-primary);
    padding: 1em 0;
}

footer.main-footer > .main_width {
    flex: 0 1 var(--min-container-width);
}